
.a{
text-align: center;
 color: white;
 background-color:#CD5C5C;
 padding:10px 0px 15px 0px;
}
.a a{
	color: white;
}
body{
  background-image:url("stardust.png");
}
section{
  background-image:url("crossword.png");
  padding-left:3%;
  padding-right:3%;
  margin-left:10%;
  margin-right:10%;
  padding-bottom:5%;
}
h1{
  color:#609f9f;
  padding-top:5%;
}
h3{
   color:#609f9f;
   border-bottom:1px solid lightgrey;
}
span img{
  width:31%;
  padding-left:3%;
}
.w{
  color:white;
  font-style:ITALIC;
}